# Node
node_modules/
npm-debug.log*
yarn-error.log*

# React
build/
dist/

# Electron
out/
release/
*.log

# Environment
.env
.env.local

# SQLite / local data
*.db
*.sqlite
*.sqlite3
.inverntory_app/

# OS junk
.DS_Store
Thumbs.db
